/* Fuentes dedicadas para titulos o subtitulos */
@font-face 
{
	font-family: "PapeleriaMatrix-Titulo-Light";
	src: url("../Assets/Fonts/SpaceGrotesk-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face 
{
	font-family: "PapeleriaMatrix-Titulo";
	src: url("../Assets/Fonts/SpaceGrotesk-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face 
{
	font-family: "PapeleriaMatrix-Titulo-Bold";
	src: url("../Assets/Fonts/SpaceGrotesk-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

/* Fuentes dedicadas para textos */

@font-face 
{
	font-family: "PapeleriaMatrix-Texto-Light";
	src: url("../Assets/Fonts/Inter_18pt-Light.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face 
{
	font-family: "PapeleriaMatrix-Texto";
	src: url("../Assets/Fonts/Inter_18pt-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face 
{
	font-family: "PapeleriaMatrix-Texto-Bold";
	src: url("../Assets/Fonts/Inter_24pt-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face 
{
	font-family: "PapeleriaMatrix-Texto-ExtraBold";
	src: url("../Assets/Fonts/Inter_24pt-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face 
{
	font-family: "PapeleriaMatrix-Texto-Italic";
	src: url("../Assets/Fonts/Inter_18pt-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}

