<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Login</title>
</head>

<body>
    <form action="" method="post">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" title="Ingrese su nombre de usuario" required><br><br>

        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" title="Ingrese su contraseña" required><br><br>

        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" name="email" title="Ingrese su correo electrónico" required><br><br>

        <input type="submit" value="Iniciar sesión">
        <input type="submit" value="Recuperar contraseña">
        <a href="../index.html" class="boton-volver" target="_self">Volver al inicio</a>


    </form>
</body>

</html>